<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document | <%= title %>
    </title>
</head>

<body>
    <nav>
        <div>
            <a href="/">
                <h1>Blog</h1>
            </a>
            <p>Someone's site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>
    <div>
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi exercitationem reprehenderit veritatis
            vitae quidem quis dolor, at quod quia, placeat sunt repudiandae assumenda minima mollitia incidunt! Soluta
            optio sit dicta.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi exercitationem reprehenderit veritatis
            vitae quidem quis dolor, at quod quia, placeat sunt repudiandae assumenda minima mollitia incidunt! Soluta
            optio sit dicta.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi exercitationem reprehenderit veritatis
            vitae quidem quis dolor, at quod quia, placeat sunt repudiandae assumenda minima mollitia incidunt! Soluta
            optio sit dicta.</p>
    </div>
</body>

</html>