<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    <div>
      <h2>About us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
        exercitationem reprehenderit veritatis vitae quidem quis dolor, at quod
        quia, placeat sunt repudiandae assumenda minima mollitia incidunt!
        Soluta optio sit dicta.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
        exercitationem reprehenderit veritatis vitae quidem quis dolor, at quod
        quia, placeat sunt repudiandae assumenda minima mollitia incidunt!
        Soluta optio sit dicta.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
        exercitationem reprehenderit veritatis vitae quidem quis dolor, at quod
        quia, placeat sunt repudiandae assumenda minima mollitia incidunt!
        Soluta optio sit dicta.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
